
<nav class="-white border-gray-200 dark:bg-gray-900 pl-4">
    <div class="w-screen-xl flex flex-wrap items-center justify-between mx-auto pl-3 p-4">
    <div class="">
      <i (click)="emitData()"  class="bi bi-list-nested text-3xl cursor-pointer text-black font-bold"></i>

    </div>
    
    <div class="flex items-center space-x-4 md:order-2">
      <p class="text-lg font-bold">{{user.username|titlecase}}</p>
        <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">
        </button>
        <!-- Dropdown menu -->
       
      
    </div>
  
    </div>
  </nav>
  