
<div class="relative overflow-x-auto shadow-md border sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                   Montant
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
               
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let expense of expenseList; index as ind;"  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{expense.date}}
                </th>
                <td class="px-6 py-4"> 
                    {{expense.amount}}   FC       
                </td>
                <td class="px-6 py-4">
                    {{expense.description}}          
                </td>
               
                
                <td class="px-6 py-4 text-right flex space-x-5">
                    <!-- <a (click)="navigateToUpdate(item.id)" class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a> -->
                    <i (click)="deleteExpense(expense.id)" class="bi bi-trash-fill text-red-700 text-base cursor-pointer"></i>
                </td>
               
              
            </tr>
        
           
        </tbody>
    </table>
</div>
