<div class=" items-center w-full p-5  h-fit">
  <!-- <div class="space-y-10 items-center">
    <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-blue-500"></div>
    
    <div class=" ">
        <p class="text-lg text-bold">veuillez patienter pendant que l'operation s'effectue ...</p>
    </div>
  </div> -->


<div class="flex justify-center">
 
  <div class="one load"></div>
  <div class="two load"></div>
  <div class="three load"></div>
  <div class="four load"></div>
  <div class="five load"></div>
</div>

<div class="flex justify-center ">
  <p class="text-lg text-bold font-medium">veuillez patienter pendant que l'operation s'effectue ...</p>
</div>
 
  </div>
  
  