<div class="w-full ">
    <!-- <div class="flex w-full space-x-4  max-sm:flex-col selection:max-sm:space-y-4 ">
        <div class="bg-white shadow-lg border rounded-md text-4xl w-full p-4 ">
        =
           <canvas id="myChart" width="400" height="250"></canvas>
        </div>
        <div  class=" gap-4 w-full grid grid-cols-2 p-0">
            
<a href="#" class="block max-w-sm p-6  bg-[#31B68E] border border-gray-200 rounded-lg shadow hover:bg-[#31B68E] dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">Noteworthy technology acquisitions 2021</h5>
    <p class="font-normal text-white dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </a>

    <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>

        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </a>


            <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </a>
    
        </div>
    </div> -->



    <div>
        

<!-- <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <app-caisse-report></app-caisse-report>
  
</div> -->
<!-- <app-caisse-report></app-caisse-report> -->
    <router-outlet></router-outlet>

    </div>
</div>

