

<!-- <div class="   bg-[#F7F7F7] flex">
    
    <div class="   {{toggledData? 'w-20':'w-1/6'}}">
        <app-sidebar></app-sidebar>
    </div>
    <div class=" w-full  overflow-hidden {{toggledData? 'w-20 transition-all ease-in-out delay-150 duration-100':'w-1/6 transition-all ease-in-out delay-150 duration-100 rounded-l-3xl'}} border-2     shadow-2xl border-l-1 ">
        <div class="w-full  ">
            <app-header></app-header>
        </div>
        <router-outlet></router-outlet>
    </div>
</div> -->




<div  class="flex w-full h-full bg-[#EDEDED]  ">
    <div class=" h-screen w-1/6">
        <app-sidebar></app-sidebar>
    </div>
        <div class="w-5/6 ">
        
        <div class="  w-5/6">
            
            <app-header></app-header>
        </div>
        
           <div class=" bg-[#EDEDED] pt-24 px-4 pb-4">
            <router-outlet></router-outlet>
           </div>
        </div>
</div>


